<div class="container">
  <div class="text-center pt-5">
    <%= image_tag "user.png", class:"avatar-large" %>
    <div class="pt-5">
      <h5>First Name: <%= current_user.first_name %></h5>
      <h5>Last Name: <%= current_user.last_name %></h5>
      <h5>Email: <%= current_user.email %></h5>
    </div>
    <div class="mt-4">
      <%= link_to "Edit", edit_user_path(current_user), class:"btn teal-button" %>
    </div>
  </div>
</div>
